{
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": ["transform-object-rest-spread"],
    "ignore": "/node_modules\/(?!@ckeditor)/"
  }
